.app-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.registrationform-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 20px;
}
.registration-heading {
  color: #ea580c;
  font-family: Roboto;
  font-size: 30px;
}
.registrationform {
  width: 100%;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.name-card {
  display: flex;
  flex-direction: column;
}
.label {
  color: #475569;
  font-family: Roboto;
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 14px;
}
.input-text {
  color: #9aa5b1;
  font-family: Roboto;
  font-size: 16px;
  height: 30px;
  padding-left: 10px;
  outline: none;
  border: 1px solid #cbd2d9;
  margin-bottom: 10px;
  border-radius: 4px;
}
.blur-input-text {
  color: #9aa5b1;
  background-color: #fef2f4;
  font-family: Roboto;
  font-size: 16px;
  height: 30px;
  padding-left: 10px;
  outline: none;
  border: 1px solid #ff0b37;
  margin-bottom: 10px;
  border-radius: 4px;
}
.blur-text {
  color: #ff0b37;
  font-family: Roboto;
  font-weight: bold;
  font-size: 12px;
  margin-top: 0;
}
.submit-button {
  height: 30px;
  width: 100%;
  border-radius: 6px;
  border-width: 0;
  color: white;
  font-size: 16px;
  font-family: Roboto;
  background-color: #ea580c;
  cursor: pointer;
  margin-top: 10px;
}

.form-submitted-successfully-card {
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  padding: 40px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.success-image {
  width: 25%;
}
.success-submitted {
  color: #475569;
  font-family: Roboto;
  font-weight: bold;
}
.submit-another-response-button {
  height: 30px;
  width: 100%;
  border-radius: 6px;
  border-width: 0;
  color: white;
  font-size: 14px;
  font-family: Roboto;
  background-color: #ea580c;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .registrationform-container {
    width: 60%;
  }
  .registrationform {
    width: 80%;
  }
  .registration-heading {
    font-size: 46px;
  }
  .submit-button {
    height: 25px;
    width: 70px;
    font-size: 12px;
    align-self: center;
  }
}
